.row-header{
    margin: 0px auto;
    padding: 0px auto;

}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge ;
}
.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 50px 0px 50px 0px;

}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #9575cd;
    color: floralwhite;

}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;

}
body{
    padding-top: 50px;
}
.navbar-dark{
    background-color:#512DA8 ;
}